.Link {
    border: solid 2px black;
    text-align: center;
    width: 240px;
    height: 60px;
    margin-left: 15px;
    margin-bottom: 15px;
    line-height:60px;
}

.pair {
    background: rgb(243, 253, 253);    
}

.odd {
    background: rgb(158, 152, 157);
}

.selectedLink {
    color: black;
}

.normalLink {
    color: #0002fc
}

a {
    text-decoration: none;
}